$background-dark: #000000;
$background-light: #0f131e;
$accent-color: #8a2be2;
$text-color: #e1e1e1;
$secondary-color: #3f3f5f;

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $background-dark;
  color: $text-color;
  border-radius : 0.4rem;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem;
    background-color: $background-light;
    border-bottom: 1px solid $secondary-color;

    .brand-name {

      $primary-color: #8a2be2; // Updated accent color
      $secondary-color: #4a90e2; // Blue color for "Chat"
      font-size: 1.8rem;
      font-weight: bold;
      letter-spacing: 2px;
      .cipher {
        color: $primary-color;
      }
      .chat {
        color: $secondary-color;
      }
    }

    .options {
      cursor: pointer;
      display: none;

      .profile_photo {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid $accent-color;
      }

      svg {
        width: 2.5rem;
        height: 2.5rem;
        color: $accent-color;
      }
    }
  }

  .chats-container {
    flex: 1;
    overflow-y: auto;
    padding: 1rem;
    height: 100%;

    .search-container {
      position: relative;
      margin-bottom: 1rem;
      padding: 0.2rem;

      .search-icon {
        position: absolute;
        left: 0.75rem;
        top: 50%;
        transform: translateY(-50%);
        color: #9e9e9e;
      }

      .search-input {
        padding: 0.75rem 1rem 0.75rem 2.5rem;
        
        background-color: $background-light;
        border: none;
        border-radius: 1.5rem;
        color: $text-color;
        font-size: 1rem;

        &::placeholder {
          color: #9e9e9e;
        }

        &:focus {
          outline: none;
          box-shadow: 0 0 0 2px $accent-color;
        }
      }
    }

    .all-chats {
      width : 100%;

      .chat-message-container {
        display: grid;
        grid-template-columns: 3rem calc(100% - 3rem);
        align-items: center;
        padding: 1rem;
        border-radius: 0.5rem;
        transition: background-color 0.2s ease;
        cursor: pointer;

        &:hover {
          background-color: $background-light;
        }

        .profile {
          img,
          svg {
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            object-fit: cover;
          }

          svg {
            color: #9e9e9e;
            background-color: $secondary-color;
            padding: 0.5rem;
          }
        }

        .chat-details {
          margin-left: 1rem;
          flex: 1;
          flex-grow: 1;
          .chat-name {
            font-weight: bold;
            margin-bottom: 0.25rem;
          }

          .chat-message-box { 
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            gap: 0.5rem;
            
            .chat-message {
              font-size: 0.875rem;
              color: #b9b9b9;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              flex-grow: 2;
            }

            .chat-time {
              flex-grow: -1;
              font-size: 0.75rem;
              color: #9e9e9e;
            }
          }
        }
      }

      .no-chats-found {
        display: flex;
        justify-content: center;
        align-items: center;
        width : 100%;
        height : 100%;
        margin-top : 2rem;

        .no-chats-message {
          font-size: 1rem;
          font-weight: bold;
          color: $secondary-color;
          animation: fade-in 0.5s ease-in-out;
          width : fit-content;
        }
      }
      
      @keyframes fade-in {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }


  .fab-container {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    z-index: 10;

    .fab-button {
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 50%;
      background-color: $accent-color;
      color: $text-color;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
      transition: all 0.3s ease;

      &:hover {
        transform: scale(1.1);
      }
    }

    .fab-options {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-bottom: 1rem;
      opacity: 0;
      pointer-events: none;
      transform: translateY(10px);
      transition: all 0.3s ease;

      .fab-option {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0.75rem 1rem;
        border-radius: 2rem;
        background-color: $background-light;
        color: $text-color;
        border: none;
        cursor: pointer;
        transition: all 0.3s ease;

        span {
          white-space: nowrap;
        }

        &:hover {
          transform: translateX(-5px);
          background-color: lighten($background-light, 5%);
        }

        &.create-chat {
          color: $accent-color;
        }

        &.join-chat {
          color: $accent-color;
        }
      }
    }

    &.expanded {
      .fab-button {
        transform: rotate(45deg);
      }

      .fab-options {
        opacity: 1;
        pointer-events: all;
        transform: translateY(0);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .main {
    .header {
      .options {
        display: block;
      }
    }
    .chats-container{
      .search-container{
        .search-input{
          width: calc(100% - 3.4rem);
        }
      }
    }
  }
  .fab-container {
    bottom: 1.5rem;
    right: 1.5rem;

    .fab-button {
      width: 3rem;
      height: 3rem;
    }
    .fab-options {
      .fab-option {
        padding: 0.5rem 0.75rem;
        font-size: 0.9rem;
      }
    }
  }
}
