.chat-layout {
    display: grid;
    height: 100vh;
    grid-template-columns: 2rem 35% calc(65% - 0.4rem - 2rem);
    gap: 0.2rem;
    padding: 0.2rem;
    height: calc(100vh - 0.4rem);
    background-color: rgb(31, 31, 31);
    overflow: visible;
    .side-bar{
        grid-column: 1/2;
        background-color: #030404;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        padding-bottom: 1rem;
        overflow: visible;
        .options{
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            div{
                text-align: center;
                font-size: medium;
                color : rgb(158, 158, 158);
                font-size: small;
                width: 1.5rem;
                .profile_photo{
                    width: 1.5rem;
                    height: 1.5rem;
                    object-fit: cover;
                    border-radius: 50%;
                    
                }
            }
        }
    }
    .chats{
        grid-column: 2/3;
        height: calc(100vh - 0.4rem);
    }
    .chatBox{
        grid-column: 3/4;
        height: calc(100vh - 0.4rem);
    }

}

@media screen and (max-width : 768px){
    .chat-layout{
        display: flex;
        flex-direction: column;
        .side-bar{
            display: none;
        }
        .chats{
            height: 100%;
        }
        .chatBox{
            height: 100%;
        }
    }
}