$background-dark: #000000;
$background-light: #0f131e;
$accent-color: #8a2be2;
$text-color: #e1e1e1;
$secondary-color: #3f3f5f;

.chat-layout {
    display: grid;
    height: 100vh;
    grid-template-columns: 4rem 35% calc(65% - 0.8rem - 4rem );
    gap: 0.4rem;
    background-color: rgb(14, 14, 14);
    padding: 0.4rem;

    .side-bar {
        padding : 1rem;
        grid-column: 1/2;
        background-color: #030404;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        padding-bottom: 1rem;
        overflow: visible;
        border-radius : 0.4rem;

        .options {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            div {
                text-align: center;
                font-size: medium;
                color: rgb(158, 158, 158);
                font-size: small;
                width: 2rem;
                height: 2rem;

                .icon{
                    width: 2rem;
                    height: 2rem;
                }

                .profile_photo {
                    width: 2rem;
                    height: 2rem;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }
        }
    }

    .mobile-view {
        height: 100vh;
    }

    .chats {
        grid-column: 2/3;
        height: calc(100vh - 0.4rem);
        width: 100%;
        height: 100%;
        border-radius : 0.4rem;
    }

    .chatBox {
        grid-column: 3/4;
        height: calc(100vh - 0.4rem);
        width: 100%;
        height: 100%;
        border-radius : 0.4rem;
    }

    .start-chat-container {
        height: calc(100vh - 0.8rem);
        background-color: $background-dark;
        color: $text-color;
        border-radius: 0.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
      
        .start-chat-button,
        .join-chat-button {
          padding: 12px 24px;
          font-size: 1rem;
          border: none;
          border-radius: 25px;
          color: #ffffff;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      
          &:hover {
            transform: translateY(-2px);
            box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
          }
      
          &:active {
            transform: translateY(0);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          }
        }
      
        .start-chat-button {
          background-color: $accent-color;
      
          &:hover {
            background-color: darken($accent-color, 10%);
          }
        }
      
        .join-chat-button {
          background-color: $secondary-color;
      
          &:hover {
            background-color: lighten($secondary-color, 10%);
          }
        }
      }

    .loading-placeholder {
        background-color: #030404;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;

        &.chats {
            grid-column: 2/3;
        }

        &.chat {
            grid-column: 3/4;
        }

        &.dialog {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 300px;
            height: 200px;
            border-radius: 8px;
            z-index: 1000;
        }

        .loading-animation {
            width: 50px;
            height: 50px;
            border: 3px solid #1a1a1a;
            border-radius: 50%;
            border-top-color: #8a2be2;
            animation: spin 1s ease-in-out infinite;
        }
    }
}

@keyframes spin {
    to { transform: rotate(360deg); }
}

@media screen and (max-width: 768px) {
    .chat-layout {
        display: flex;
        flex-direction: column;
        height: 100%;

        .side-bar {
            display: none;
        }

        .chats {
            height: 100%;
        }

        .chatBox {
            height: 100%;
        }

        .loading-placeholder {
            &.chats, &.chat {
                height: 100vh;
            }
        }
    }
}

